<br><br>
<div class = "container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header head-style">
        <h3>Buy Flower - {{flower.flowerName}} - ( Price - ₹ {{flower.flowerPrice}} )</h3>
      </div>
      <div class="card-body">
        <form (submit)="buyFlower($event)">
          <div class="input-group form-group">
            <input type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control" placeholder="Full Name" id="buyname">
          </div>
          <div class="input-group form-group">
            <input type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control" placeholder="Mobile Number" id="buymob">
          </div>
          <div class="input-group form-group">
            <input type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control" placeholder="Address Line 1" id="buyadd1">
          </div>
          <div class="input-group form-group">
            <input type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control" placeholder="Address Line 2" id="buyadd2">
          </div>
          <div class="input-group form-group">
            <input type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control" placeholder="City" id="buycity">
          </div>
           <div class="input-group form-group">
            <input type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control" placeholder="Zip" id="buyzip">
          </div>
          <div class="input-group form-group">
            <input type="text" onkeyup="this.value = this.value.toUpperCase();" class="form-control" placeholder="Country" id="buycon">
          </div>
          <br>
          <div class="form-group">
            <input type="submit" value="Submit" class="btn float-right login_btn">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br><br><br><br>
