<footer>
  <div class = "div-up">
    <div class = "container col-md-6">
      <br>
      <h3 class = "text-head">About Angular</h3>
      <br>
      <p class = "text">Angular is a platform that makes it easy to build 
        applications with the web. Angular combines declarative 
        templates, dependency injection, end to end tooling, 
        and integrated best practices to solve development 
        challenges. Angular empowers developers to build 
        applications that live on the web, mobile, or the desktop.
      </p>
    </div>
  </div>
  <div class = "div-down text-head">
    <br>
    <div>© 2019 Copyright</div>
  </div>
</footer>
  